body, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sidebar {
  background-color: turquoise;
}

.navbar {
  background-color: orange;
}

.main {
  display: flex;
  flex: 1;
  background-color: green;
}
